<!DOCTYPE html>
<html>
<head>
	<meta http-equiv=Content-type content="text/html; charset=utf-8">
	<title>index.html</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div id=libraries>
	{.repeated section libraries}
		<a href="{url}">{title}</a>
	{.end}
</div>
<div id=container>
	<div id=nav>
		{.section categories}
		<ul>
			{.repeated section @}
			<li><h4>{name}</h4>
				<ul>
					{.repeated section docs}
					<li><h5><a href="{url}" target="docFrame">{name}</a></h5>
						<ul>
						{.repeated section headers}
							<li><a href="{url}{anchor}" target="docFrame">{title}</a></li>
						{.end}
						</ul>
					</li>
					{.end}
				</ul>
			</li>
		  {.end}
		</ul>
		{.or}
		  <p><em>No Categories :(</em></p>
		{.end}
	</div>
	<div id=handle></div>
	<div id=doc>
		<iframe id="docFrame" name="docFrame" src="" width="100%" height="100%" frameborder="0"></iframe>
	</div>
	
</div>

<script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/mootools/1.2.4/mootools-yui-compressed.js"></script>
<script src="/static/Drag.js"></script>
<script src="/static/Resizable.js"></script>
<script src="/static/app.js"></script>

</body>
</html>
